# ------------------------------------------------
# Main Input Configuration File
#
# This file is used to create the input config files and realization file used to run Ngen.
# It contains five sections:
#    1. General
#    2. Regionalization
#    3. Calibration
#    4. Forcing
#    5. DataFile
# Variables in the sections for unused run types (i.e. calibration section for a regionalization run) are not loaded
# ------------------------------------------------

[General]

# Stream gage ID at basin outlet or VPU basin
basin = 01123000

# Type of basin subset (gage, vpu)
subset_type = gage

# Domain of gage (conus, prvi, ak, hi, gl)
domain = conus

# Environment for EDFS Icefabric applicable (test, oe)
environment = test

# Run name (options: calibration, regionalization, default)
run_type = default

# List of models to include in the formulation 
# Overriden if run type is regionalization
# Note: t-route will be added if not selected; sloth will be added if cfe-s/cfe-x or lasam is selected.
# Currently modules can be selected from the following list (case insensitive, one module per process):
# -- Glacier or snow --: noah-owp-modular, snow-17, ueb, topoflow-glacier (topoflow-glacier will only run in glaciated catchments)
# -- evapotranspiration --: pet, noah-owp-modular
# -- soil moisture --: smp, sft (note: currently only implemented for when cfe-s, cfe-x, lasam, or topmodel is selected)
# -- rainfall runoff --: cfe-s, cfe-x, topmodel, sac-sma, lasam
# -- machine learning --: lstm (can only be used with t-route)
# -- routing --: t-route
models = noah-owp-modular,cfe-s

# User defined formulation run name (used to create folder for inputs/outputs; so no space in the name)
formulation = noah_cfes

# Main directory to store input, output and other files  
main_dir = ~/ngwpc/run_ngen

# Simulation time period for Default and Regionalization Runs
# Overriden by calibration time variables when run_type is calibration
start_period = 2015-10-01 00:00:00
end_period = 2016-09-30 23:00:00

# (optional) whether to output certain variables if they are produced by the chosen formulation (default is set to false)
# SWE: snow water equivalent; sm: soil moisture, precip: precipitation
# If output_precip = True, Precipitation from forcing files will be written to the catchment csv files
# If output_swe = True, SWE from the snow module will be written out to the catchment csv files
# If output_sm = True, two soil moisture output variables will be written out to the catchment csv files
#   1. sm_profile (soil moisture at defined depth), requiring sm_profile_depth to be defined in meters (default to 0.1, 0.4, 1.0, 2.0) 
#   2. sm_frac (ratio of soil moisture at defined depth over the total soil moisture in the entire 2m soil column), 
#      requiring sm_frac_depth to be defined in meters (default to 0.4)
output_precip = True
output_swe = True
output_sm = True
sm_profile_depth = 0.1, 0.4, 1.0, 2.0
sm_frac_depth = 0.4


[ModuleProperties]
# CFE rootzone options (only used if CFE and SMP are in the formulation)
cfe-s_aet_rootzone = 1

# PET Method (1-5, only used if PET is in the formulation)
pet_method = 5


[Forcing]
# Forcing provider (csv or bmi)
forcing_provider = bmi

# Directory for csv input forcing data (required for csv provider, not required for bmi provider)
forcing_dir = 

# Forcing engine template file directory
forcing_template_dir = ~/ngwpc/ngen-forcing/NextGen_Forcings_Engine_BMI/BMI_NextGen_Configs/config_templates/

# Forcing engine root directory (used to specify root location of forecast files)
# Ngencerf: /ngencerf/data/forecast_work
# Local base modules (not via ngencerf): /ngen-app/data
root_dir = /ngen-app/data

# Forcing engine configurations
forcing_configuration = aorc

# Cycle time for start of forecast (and/or cold start end time when used)
cycle_datetime = 

# Start of cold start period
cold_start_datetime = 

# Global domain. Currently only affects historical NWM forcing.
# Default: CONUS. Choices: CONUS, Alaska, Hawaii, Puerto_Rico
global_domain = 

[DataFile]
# Directory for streamflow observation  
# If left blank or commented out, streamflow observations will be retrieved on the fly 
# from NWIS site during calibration and validation runs.
# obs_dir = ~/ngwpc/run_ngen/data/streamflow_obs/

# File path for NWM retreospective streamflow simulation
# If left lank or commented out, metrics for NWM retrospective simulation will not be calculated or 
# plotted during the validation runs (with best parameters or parameters from an alternative iteration).
# nwmretro_file = ~/ngwpc/run_ngen/data/nwmv3_retro_streamflow/01123000.csv

# Path to hydrofabric data (geopackage)  
hydrofab_file =

# Directory or file for constant/additional module parameters (currently applicable to noah, lasam, ueb, sac-sma, and snow-17)
# these can be found in the nwm-msw-mgr source repo under nwm-msw-mgr/module_parameter_files
noah_parameter_dir = ~/ngwpc/nwm-msw-mgr/module_parameter_files/noah-owp-modular
ueb_parameter_dir = ~/ngwpc/nwm-msw-mgr/module_parameter_files/ueb
lasam_parameter_dir = ~/ngwpc/nwm-msw-mgr/module_parameter_files/lasam
lstm_parameter_dir = ~/ngwpc/nwm-msw-mgr/module_parameter_files/lstm
sac_sma_parameter_dir = ~/s3/ngwpc-hydrofabric
snow_17_parameter_dir = ~/s3/ngwpc-hydrofabric

# Executable file for running ngen BMI
ngen_exe_file = ~/ngwpc/ngen/cmake_build/ngen

# Library files for modules (can be left blank if module is not selected)
sloth_lib = ~/ngwpc/ngen/extern/sloth/cmake_build/libslothmodel.so
cfe_lib = ~/ngwpc/ngen/extern/cfe/cmake_build/libcfebmi.so
lasam_lib = ~/ngwpc/ngen/extern/LASAM/cmake_build/liblasambmi.so
noah_owp_modular_lib = ~/ngwpc/ngen/extern/noah-owp-modular/cmake_build/libsurfacebmi.so
pet_lib = ~/ngwpc/ngen/extern/evapotranspiration/evapotranspiration/cmake_build/libpetbmi.so
sac_sma_lib = ~/ngwpc/ngen/extern/sac-sma/cmake_build/libsacbmi.so
sft_lib = ~/ngwpc/ngen/extern/SoilFreezeThaw/cmake_build/libsftbmi.so
smp_lib = ~/ngwpc/ngen/extern/SoilMoistureProfiles/cmake_build/libsmpbmi.so
snow_17_lib = ~/ngwpc/ngen/extern/snow17/cmake_build/libsnow17bmi.so
topmodel_lib = ~/ngwpc/ngen/extern/topmodel/cmake_build/libtopmodelbmi.so
ueb_lib = ~/ngwpc/ngen/extern/ueb-bmi/cmake_build/src/libbmiuebcxx.so


[Parallel]
parallel_ngen_exe = ~/ngwpc/ngen/cmake_build/ngen
partition_generator_exe = /ngencerf/ngencerf-server/partitionGenerator
nprocs = 1
