# ------------------------------------------------
# Main Input Configuration File
#
# This file is used to create the input config files and realization file used to run Ngen.
# It contains three sections:
#    1. General
#    2. Regionalization
#    3. Calibration
#    4. Forcing
#    5. DataFile
# Variables in the sections for unused run types (i.e. calibration section for a regionalization run) are not loaded
# ------------------------------------------------

[Forcing]
# Forcing provider (csv or bmi)
forcing_provider = bmi

# Directory for forcing data (required for csv provider, not required for bmi provider)
forcing_dir = /home/jeff.wade/s3/ngwpc-forcing/aorc_2.2/CONUS/Gage_01123000/

# Forcing engine data
forecast_configuration = standard_ana
cycle_datetime = 2025-09-10 14:00:00
geogrid_file = /ngen-app/data/esmf_mesh/gage_01123000_ESMF_Mesh.nc
forcing_template_dir = /home/jeff.wade/s3/ngwpc-dev/kyle.larkin/configs/templates 

# Cold start options
use_cold_start = False
cold_start_time = 2025-09-09 00:00:00

