# ------------------------------------------------
# Main Input Configuration File
#
# This file is used to create the input config files and realization file used to run Ngen.
# It contains five sections:
#    1. General
#    2. Regionalization
#    3. Calibration
#    4. Forcing
#    5. DataFile
# Variables in the sections for unused run types (i.e. calibration section for a regionalization run) are not loaded
# ------------------------------------------------

[Forcing]
# Forcing provider (csv or bmi)
forcing_provider = bmi

# Directory for csv input forcing data (required for csv provider, not required for bmi provider)
forcing_dir = 

# Forcing engine template file directory
forcing_template_dir = ~/ngwpc/ngen-forcing/NextGen_Forcings_Engine_BMI/BMI_NextGen_Configs/config_templates/

# Forcing engine root directory (used to specify root location of forecast files)
# Ngencerf: /ngencerf/data/forecast_work
# Local base modules (not via ngencerf): /ngen-app/data
root_dir = /ngen-app/data

# Forcing engine configurations
forcing_configuration = standard_ana

# Cycle time for start of forecast (and/or cold start end time when used)
cycle_datetime = 2025-09-17 10:00:00

# Start of cold start period
cold_start_datetime = 2025-09-09 14:00:00

# Global domain. Currently only affects historical NWM forcing.
# Default: CONUS. Choices: CONUS, Alaska, Hawaii, Puerto_Rico
global_domain = 
