# ------------------------------------------------
# Main Input Configuration File
#
# This file is used to create the input data and files to run calibration and validation.
# It contains three sections:
#    1. General
#    2. Calibration
#    3. DataFile
# ------------------------------------------------

[General]

# whether running fron ngenCERF
ngen_cerf = false

# info from the ngenCERF server (optional - only needed when running from ngenCERF)
calibration_run_id = 1
auth_token = 

# Stream gage ID at basin outlet 
basin = 01123000

# List of models to include in the formulation 
# Note: t-route will be added if not selected; sloth will be added if cfe-s/cfe-x or lasam is selected.
# Currently modules can be selected from the following list (case insensitive, one module per process):
# -- Glacier or snow --: noah-owp-modular, snow-17, ueb (topoflow is to be implemented)
# -- evapotranspiration --: pet, noah-owp-modular
# -- soil moisture --: smp, sft (note: currently only implemented for when cfe-s, cfe-x or lasam is selected)
# -- rainfall runoff --: cfe-s, cfe-x, topmodel, sac-sma, lasam
# -- routing --: t-route
models = noah-owp-modular,sft,smp,cfe-s

# User defined formulation name (used to create folder for inputs/outputs; so no space in the name)
formulation = noah_sft_smp_cfes

# Run name (currently only one option: calib)
run_type = calib

# Main directory to store input, output and other files  
main_dir = ~/ngwpc/run_ngen

[Calibration]
# Optimizaition algorithm (options: dds, pso, gwo)
optimization_algorithm = DDS

# Algorithm parameters for PSO & GWO
# swarm_size is applicable to both PSO & GWO; c1, c2 & w are only applicable to PSO
swarm_size = 3
c1 = 2
c2 = 2
w = 0.7

# Objective function (options: kge,nse,nnse,nselog,corr,csi,pod,rmse,mae,rsr,far,pkbias,pkte,evbias,pbias,lseg_fdc,hseg_fdc)   
objective_function = kge

# Starting iteration number
start_iteration = 0

# Number of iterations
number_iteration = 2

# Whether to restart calibration from a stopped iteration (0: Not; 1: Yes)
# currently only option is 0 (i.e., no restart)
restart = 0

# Simulation time period for calibration
start_period = 2015-10-01 00:00:00
end_period = 2017-09-30 23:00:00

# Simulation time period for calibration
calib_start_period = 2015-10-01 00:00:00
calib_end_period = 2017-09-30 23:00:00

# Evaluation time period for calibration (to exclude a warm-up period from simulation when calculating metrics)
calib_eval_start_period = 2016-10-01 00:00:00
calib_eval_end_period = 2017-09-30 23:00:00

# Simulation time period for validation
valid_start_period = 2014-10-01 00:00:00
valid_end_period = 2017-09-30 23:00:00

# Evaluation time period for validation
valid_eval_start_period = 2015-10-01 00:00:00
valid_eval_end_period = 2016-09-30 23:00:00

# Full evaluation time period (calibation + validation evaluation periods)
full_eval_start_period = 2015-10-01 00:00:00
full_eval_end_period = 2017-09-30 23:00:00

# Save streamflow output and plots at iterations
# 0 - no; 1 - yes, with iteration number attached to output file name
save_output_iter = 0
save_plot_iter = 0

# Iteration interval to save plots
save_plot_iter_freq = 1

# Streamflow threshold in cms for the calculation of categorical scores (optional)
# If not specified, categorical metrics will not be calculated (here 3.88 is 90% flow in cms for test basin 01123000)
streamflow_threshold = 3.88

# Streamflow station name used for the title of plots (optional)
station_name = "Little River Near Hanover, CT"

# (optional) whether to output certain variables if they are produced by the chosen formulation (default is set to false)
# SWE: snow water equivalent; sm: soil moisture
# If output_swe = True, SWE from the snow module will be written out to the catchment csv files
# If output_sm = True, two soil moisture output variables will be written out to the catchment csv files
#   1. sm_profile (soil moisture at defined depth), requiring sm_profile_depth to be defined in meters (default to 0.1) 
#   2. sm_frac (ratio of soil moisture at defined depth over the total soil moisture in the entire 2m soil column), 
#      requiring sm_frac_depth to be defined in meters (default to 0.4)
output_swe = True
output_sm = True
sm_profile_depth = 0.1
sm_frac_depth = 0.4

# Email address to receive the notification of run completion (optional) 
user_email = 

[DataFile]
# Diretory for forcing data 
forcing_dir = ~/s3/ngwpc-forcing/aorc_2.2/CONUS/Gage_01123000/

# Diretory for streamflow observation  
# If left blank or commented out, streamflow observations will be retrieved on the fly 
# from NWIS site during calibration and validation runs.
# obs_dir = ~/work/data/streamflow_obs/

# File path for NWM retreospective streamflow simulation
# If left lank or commented out, metrics for NWM retrospective simulation will not be calculated or 
# plotted during the validation runs (with best parameters or parameters from an alternative iteration).
# nwmretro_file = ~/work/data/nwmv3_retro_streamflow/01123000.csv

# Path to hydrofabric data (geopackage)  
hydrofab_file = ~/s3/ngwpc-hydrofabric/2.2/CONUS/01123000/GEOPACKAGE/USGS/2025_Mar_14_21_14_37/gauge_01123000.gpkg

# Diretories for module BMI config files (if blank, ngen-cal will create these files)
topoflow_bmi_dir =
noah-owp-modular_bmi_dir = 
snow-17_bmi_dir = 
ueb_bmi_dir = 
pet_bmi_dir =
smp_bmi_dir = 
sft_bmi_dir = 
cfe-s_bmi_dir = 
cfe-x_bmi_dir = 
topmodel_bmi_dir = 
sac-sma_bmi_dir = 
lasam_bmi_dir = 
t-route_bmi_dir = 

# Diretory or file for constant/additional module parameters (currently applicable to noah, lasam, and ueb)
# these can be found in the ngen-cal source repo under ngen-cal/module_parameter_files
noah_parameter_dir = ~/ngwpc/ngen-cal/module_parameter_files/noah-owp-modular
ueb_parameter_dir = ~/ngwpc/ngen-cal/module_parameter_files/ueb
lasam_parameter_dir = ~/ngwpc/ngen-cal/module_parameter_files/lasam
sac_parameter_dir = ~/s3/ngwpc-hydrofabric
snow17_parameter_dir = ~/s3/ngwpc-hydrofabric

# Path for model attributes file (to derive initial parameters for certain modules: CFE, NOM, SMP/SFT)
# TODO
attributes_file = ~/ngwpc/run_ngen/data/conus_model_attributes.parquet

# Path for calibration parameter file or folder that includes such files for individual modules
# These files contain the minimum, maximum, and initial values of parameters for the specified module(s)
# There are 3 options
# 1) Folder path with files in tab-delimited csv format for individual modules (e.g., calib_params_cfe-s.csv, calib_params_topmodel.csv)
# 2) Folder path with files in comma-delimited csv format for individual modules
# 3) File path with calibration parameters for all modules presented in a single file in fix-width format (typically not recommended)
# TODO
calib_parameter_file = ~/ngwpc/run_ngen/data/calib_params_tab_delimited

# Executable file for running ngen BMI
ngen_exe_file = ~/ngwpc/ngen/cmake_build/ngen

# Library files for modules (can be left blank if module is not selected)
sloth_lib = ~/ngwpc/ngen/extern/sloth/cmake_build/libslothmodel.so
cfe_lib = ~/ngwpc/ngen/extern/cfe/cmake_build/libcfebmi.so
lasam_lib = ~/ngwpc/ngen/extern/LASAM/cmake_build/liblasambmi.so
noah-owp-modular_lib = ~/ngwpc/ngen/extern/noah-owp-modular/cmake_build/libsurfacebmi.so
pet_lib = ~/ngwpc/ngen/extern/evapotranspiration/evapotranspiration/cmake_build/libpetbmi.so
sac-sma_lib = ~/ngwpc/ngen/extern/sac-sma/cmake_build/libsacbmi.so
sft_lib = ~/ngwpc/ngen/extern/SoilFreezeThaw/cmake_build/libsftbmi.so
smp_lib = ~/ngwpc/ngen/extern/SoilMoistureProfiles/cmake_build/libsmpbmi.so
snow-17_lib = ~/ngwpc/ngen/extern/snow17/cmake_build/libsnow17bmi.so
topmodel_lib = ~/ngwpc/ngen/extern/topmodel/cmake_build/libtopmodelbmi.so
ueb_lib = ~/ngwpc/ngen/extern/ueb-bmi/cmake_build/src/libbmiuebcxx.so
