# ------------------------------------------------
# Main Input Configuration File
#
# This file is used to create the input config files and realization file used to run Ngen.
# It contains three sections:
#    1. General
#    2. Regionalization
#    3. Calibration
#    4. DataFile
# Variables in the sections for unused run types (i.e. calibration section for a regionalization run) are not loaded
# ------------------------------------------------

[General]

# Stream gage ID at basin outlet or VPU basin
basin = 01123000

# Run name (options: calibration, regionalization, default)
run_type = default

# List of models to include in the formulation 
# Overriden if run type is regionalization
# Note: t-route will be added if not selected; sloth will be added if cfe-s/cfe-x or lasam is selected.
# Currently modules can be selected from the following list (case insensitive, one module per process):
# -- Glacier or snow --: noah-owp-modular, snow-17, ueb (topoflow is to be implemented)
# -- evapotranspiration --: pet, noah-owp-modular
# -- soil moisture --: smp, sft (note: currently only implemented for when cfe-s, cfe-x or lasam is selected)
# -- rainfall runoff --: cfe-s, cfe-x, topmodel, sac-sma, lasam
# -- machine learning --: lstm (can only be used with t-route)
# -- routing --: t-route
models = noah-owp-modular,cfe-s

# User defined formulation run name (used to create folder for inputs/outputs; so no space in the name)
formulation = noah_cfes

# Main directory to store input, output and other files  
main_dir = /home/jeff.wade/ngwpc/run_ngen

# Simulation time period for Default and Regionalization Runs
# Overriden by calibration time variables when run_type is calibration
start_period = 2015-10-01 00:00:00
end_period = 2016-09-30 23:00:00

# (optional) whether to output certain variables if they are produced by the chosen formulation (default is set to false)
# SWE: snow water equivalent; sm: soil moisture
# If output_swe = True, SWE from the snow module will be written out to the catchment csv files
# If output_sm = True, two soil moisture output variables will be written out to the catchment csv files
#   1. sm_profile (soil moisture at defined depth), requiring sm_profile_depth to be defined in meters (default to 0.1) 
#   2. sm_frac (ratio of soil moisture at defined depth over the total soil moisture in the entire 2m soil column), 
#      requiring sm_frac_depth to be defined in meters (default to 0.4)
output_swe = True
output_sm = True
sm_profile_depth = 0.1
sm_frac_depth = 0.4


[Regionalization]
# Formulation assignment file generated by regionalization
form_assign_file = 


[Calibration]
# Optimizaition algorithm (options: dds, pso, gwo)
optimization_algorithm = 

# Algorithm parameters for PSO & GWO
# swarm_size is applicable to both PSO & GWO; c1, c2 & w are only applicable to PSO
swarm_size = 
c1 = 
c2 = 
w =

# Objective function (options: kge,nse,nnse,nselog,corr,csi,pod,rmse,mae,rsr,far,pkbias,pkte,evbias,pbias,lseg_fdc,hseg_fdc)   
objective_function = 

# Starting iteration number
start_iteration = 

# Number of iterations
number_iteration = 

# Whether to restart calibration from a stopped iteration (0: Not; 1: Yes)
# currently only option is 0 (i.e., no restart)
restart = 

# Simulation time period for calibration
calib_start_period = 
calib_end_period = 

# Evaluation time period for calibration (to exclude a warm-up period from simulation when calculating metrics)
calib_eval_start_period = 
calib_eval_end_period = 

# Simulation time period for validation
valid_start_period = 
valid_end_period = 

# Evaluation time period for validation
valid_eval_start_period = 
valid_eval_end_period = 

# Full evaluation time period (calibation + validation evaluation periods)
full_eval_start_period = 
full_eval_end_period = 

# Save streamflow output and plots at iterations
# 0 - no; 1 - yes, with iteration number attached to output file name
save_output_iter = 
save_plot_iter = 

# Iteration interval to save plots
save_plot_iter_freq = 

# Streamflow threshold in cms for the calculation of categorical scores (optional)
# If not specified, categorical metrics will not be calculated (here 3.88 is 90% flow in cms for test basin 01123000)
streamflow_threshold = 

# Streamflow station name used for the title of plots (optional)
station_name = 

# whether running fron ngenCERF
ngen_cerf = 

# info from the ngenCERF server (optional - only needed when running from ngenCERF)
calibration_run_id = 
auth_token = 

# Email address to receive the notification of run completion (optional) 
user_email = 

# Path for calibration parameter file or folder that includes such files for individual modules
# These files contain the minimum, maximum, and initial values of parameters for the specified module(s)
# There are 3 options
# 1) Folder path with files in tab-delimited csv format for individual modules (e.g., calib_params_cfe-s.csv, calib_params_topmodel.csv)
# 2) Folder path with files in comma-delimited csv format for individual modules
# 3) File path with calibration parameters for all modules presented in a single file in fix-width format (typically not recommended)
calib_parameter_file = 


[DataFile]
# Directory for forcing data 
forcing_dir = /home/jeff.wade/s3/ngwpc-forcing/aorc_2.2/CONUS/Gage_01123000/

# Directory for streamflow observation  
# If left blank or commented out, streamflow observations will be retrieved on the fly 
# from NWIS site during calibration and validation runs.
# obs_dir = /home/jeff.wade/ngwpc/run_ngen/data/streamflow_obs/

# File path for NWM retreospective streamflow simulation
# If left lank or commented out, metrics for NWM retrospective simulation will not be calculated or 
# plotted during the validation runs (with best parameters or parameters from an alternative iteration).
# nwmretro_file = /home/jeff.wade/ngwpc/run_ngen/data/nwmv3_retro_streamflow/01123000.csv

# Path to hydrofabric data (geopackage)  
hydrofab_file = /home/jeff.wade/s3/ngwpc-hydrofabric/2.2/CONUS/01123000/GEOPACKAGE/USGS/2025_Mar_14_21_14_37/gauge_01123000.gpkg

# Directories for module BMI config files (if blank, the MSW-MGR will create these files)
topoflow_bmi_dir =
noah_owp_modular_bmi_dir = 
snow_17_bmi_dir = 
ueb_bmi_dir = 
pet_bmi_dir =
smp_bmi_dir = 
sft_bmi_dir = 
cfe_s_bmi_dir = 
cfe_x_bmi_dir = 
topmodel_bmi_dir = 
sac_sma_bmi_dir = 
lasam_bmi_dir = 
lstm_bmi_dir = 
t_route_bmi_dir = 

# Directory or file for constant/additional module parameters (currently applicable to noah, lasam, ueb, sac-sma, and snow-17)
# these can be found in the nwm-cal-mgr source repo under nwm-cal-mgr/module_parameter_files
noah_parameter_dir = /home/jeff.wade/ngwpc/nwm-cal-mgr/module_parameter_files/noah-owp-modular
ueb_parameter_dir = /home/jeff.wade/ngwpc/nwm-cal-mgr/module_parameter_files/ueb
lasam_parameter_dir = /home/jeff.wade/ngwpc/nwm-cal-mgr/module_parameter_files/lasam
lstm_parameter_dir = /home/jeff.wade/ngwpc/nwm-cal-mgr/module_parameter_files/lstm
sac_parameter_dir = /home/jeff.wade/s3/ngwpc-hydrofabric
snow_17_parameter_dir = /home/jeff.wade/s3/ngwpc-hydrofabric

# Path for model attributes file (to derive initial parameters for certain modules: CFE, NOM, SMP/SFT)
attributes_file = /home/jeff.wade/ngwpc/run_ngen/data/conus_model_attributes.parquet

# Executable file for running ngen BMI
ngen_exe_file = /home/jeff.wade/ngwpc/ngen/cmake_build/ngen

# Library files for modules (can be left blank if module is not selected)
sloth_lib = /home/jeff.wade/ngwpc/ngen/extern/sloth/cmake_build/libslothmodel.so
cfe_lib = /home/jeff.wade/ngwpc/ngen/extern/cfe/cmake_build/libcfebmi.so
lasam_lib = /home/jeff.wade/ngwpc/ngen/extern/LASAM/cmake_build/liblasambmi.so
noah_owp_modular_lib = /home/jeff.wade/ngwpc/ngen/extern/noah-owp-modular/cmake_build/libsurfacebmi.so
pet_lib = /home/jeff.wade/ngwpc/ngen/extern/evapotranspiration/evapotranspiration/cmake_build/libpetbmi.so
sac_sma_lib = /home/jeff.wade/ngwpc/ngen/extern/sac-sma/cmake_build/libsacbmi.so
sft_lib = /home/jeff.wade/ngwpc/ngen/extern/SoilFreezeThaw/cmake_build/libsftbmi.so
smp_lib = /home/jeff.wade/ngwpc/ngen/extern/SoilMoistureProfiles/cmake_build/libsmpbmi.so
snow_17_lib = /home/jeff.wade/ngwpc/ngen/extern/snow17/cmake_build/libsnow17bmi.so
topmodel_lib = /home/jeff.wade/ngwpc/ngen/extern/topmodel/cmake_build/libtopmodelbmi.so
ueb_lib = /home/jeff.wade/ngwpc/ngen/extern/ueb-bmi/cmake_build/src/libbmiuebcxx.so


[Parallel]
parallel_ngen_exe = /home/jeff.wade/ngwpc/ngen/cmake_build/ngen
partition_generator_exe = /ngencerf/ngencerf-server/partitionGenerator
nprocs = 1
